.Portfolio {
   background: linear-gradient(to bottom, hsl(217, 89%, 39%) 0%,hsl(217, 88%, 60%) 100%);
   // border-bottom: 1px solid #EDC453;
   // box-shadow: 0 0 3px whitesmoke;
   height: fit-content;
   padding-bottom: 5vh;
   & .col {
      padding: 0 10px;
      margin-bottom: 20px;
   }
   // each project animation start by even and odd
   & main > div {
      & > div:nth-child(odd) {
         & > div {
            transform: translate(-200px, 0) scale(0);
            opacity: 0;
         }
      }
      & > div:nth-child(even) {
         & > div {
            transform: translate(200px, 0) scale(0);
            opacity: 0;
         }
      }
   }
}